@charset "UTF-8";

.hdg-lv2{
	font-size: 16px;
	color: #47566d;
}
.hdg-lv2:before {
	content: "";
	width: 5px;
	height: 19px;
}
/*.section-info
----------------------------*/
.section-info{
	padding: 0 0 15px;
}
.section-info .hdg-lv2 {
	margin: 35px 0 10px;
}
/*.section-news
----------------------------*/
.section-news{
	padding: 0 0 68px;
}
.section-news .hdg-lv2{
	margin-bottom: 15px;
}
.section-news .hdg-lv2--02{
	margin-bottom: 0;
}
.section-news__btn{
	margin-top: 20px;
	text-align: center;
}
.box + .hdg-lv2 {
	margin-top: 62px;
}
.section-news__btn + .hdg-lv2 {
	margin-top: 68px;
}
/*.box-contact
----------------------------*/
.lst-news__item {
	padding: 25px 83px 25px 15px;
}
a.lst-news__item:before{
	right: 13px;
}
.lst-news__item--attachment:after{
	right: 54px;
}
/*-----------------------------*/
.lst-media li + li {
	margin-top: 0;
}
.lst-media a:hover {
	box-shadow: none;
	background: #ebebeb;
}
.lst-media__item:before {
	right: 28px;
}
/*-----------------------------*/
.lst-banner {
	margin-top: 35px;
}
.lst-banner li + li {
	margin-top: 10px;
}
.lst-banner__item {
	text-align: center;
}