@charset "utf-8";
/* セクション関連 */
.wae-section{margin:0}
.wae-section-hidden{display:none}


/* セクションの見出し（H2） */
.wae-section-title{margin:0;padding:0}
.wae-section-title>h2{margin-bottom:0;line-height:1.6;}
.wae-section-boder,.wae-section-background{padding:8px 16px;}

.wae-section-accordion{margin:0}
.wae-section-accordion-title{position:relative;padding:8px 40px 8px 8px;}
.wae-section-accordion-title-off:before{content:'';position:absolute;top:50%;right:15px;margin:0;border-left:6px solid transparent;border-right:6px solid transparent}
.wae-section-accordion-title-on:before{content:'';position:absolute;top:50%;right:15px;margin:0;border-left:6px solid transparent;border-right:6px solid transparent}
.wae-section-accordion+*:not(.wae-section-accordion){margin-top:40px}

.wae-section-accordion-title>h2{position:relative;display:inline-block}
.wae-section-accordion-title>h2>img{position:absolute;display:block;top:3px;left:0;max-width:100px}


/*  セクションブロック分割定義 */
.wae-section-column1>.wae-section-block{width:100%;margin:0 0 0 0}
.wae-section-column2>.wae-section-block{width:49%;margin:0 2% 0 0}
.wae-section-column3>.wae-section-block{width:calc((100% - 4%) / 3);margin:0 2% 0 0}
.wae-section-column4>.wae-section-block{width:24.25%;margin:0 1% 0 0}
.wae-section-column5>.wae-section-block{width:19.2%;margin:0 1% 0 0}
.wae-section-column6>.wae-section-block{width:15.83%;margin:0 1% 0 0}
.wae-section-block{float:left;}
.wae-section-column:after {
  content: '';
  display: block;
  clear: both;
}

.wae-section-column2>.wae-section-block:nth-child(2n){margin-right:0;}
.wae-section-column3>.wae-section-block:nth-child(3n){margin-right:0;}
.wae-section-column4>.wae-section-block:nth-child(4n){margin-right:0;}
.wae-section-column5>.wae-section-block:nth-child(5n){margin-right:0;}
.wae-section-column6>.wae-section-block:nth-child(6n){margin-right:0;}



/*段基本定義*/
.wae-section-column{}
.wae-section-column-background{padding: 12px;}
.wae-section-column-border{padding: 12px;}

/*ブロック基本定義*/
.wae-section-block-border{display:inline-block;width:100%;padding:12px;}
.wae-section-block-background{display:inline-block;width:100%;padding:12px}
.wae-section-block-link{
  padding: 0;
}
.wae-section-block-link>a{
  display: block;
  height: 100%;
  padding: 12px;
}
.wae-section-block-link:hover{}
.wae-section-block-link *{text-decoration:none}
.wae-section-block-link-brightness:hover img{filter:brightness(110%);-webkit-filter:brightness(110%)}
.wae-section-block-link a[target^='_blank']:after{position:absolute;top:10px;right:10px;opacity:0.25}


/*見出タグ定義 基本値設定*/
.wae-section-block h2,h3,h4,h5,h6{margin:0;font-size:2.0rem;line-height:1.4;font-weight: normal;}

/* aタグパーツ定義 */
.wae-section a{transition:all 0.25s ease-out}
.wae-section a[target^='_blank']:after{content:'';display:inline-block;width:12px;height:12px;margin:0 0 0 8px;background-image:url(../img/wae/icon-window.svg);background-repeat:no-repeat;background-size:auto 100%;vertical-align:middle}



/* 文章定義 */
.wae-section-block p{margin:0;font-size:1.4rem;line-height:1.6;text-align:justify}
.wae-section-left,.wae-section-left p{text-align:left!important}
.wae-section-right,.wae-section-right p{text-align:right !important}
.wae-section-center,.wae-section-center p{text-align:center !important}


/*リード文要素*/
.wae-section-lead{}

/*補足文定義*/
.wae-section-note{margin:0}
.wae-section-note p{margin:0;line-height:1.6}
.wae-section-note-bgcolor{}
.wae-section-note-bgcolor>p{}

/*テーブル定義*/
.wae-section-table{margin:0}
.wae-section-table>table,.wae-section-table>.scroll_x>table{width:100%}
.wae-section-table>table th,
.wae-section-table>table td{}
.wae-section-table>table th{}


/* アイコン定義 aタグ、 */
.wae-section-icon-before{padding:0 0 0 1.3em;background-position:left top;background-repeat:no-repeat}
.wae-section-icon-after{padding:0 1.3em 0 0;background-position:right top;background-repeat:no-repeat}

.wae-section-icon-arrow{background-image:url(../img/wae/icon-arrow.svg);background-size:1em}
.wae-section-icon-word{background-image:url(../img/wae/icon-word.png);background-size:1em}
.wae-section-icon-excel{background-image:url(../img/wae/icon-excel.png);background-size:1em}
.wae-section-icon-pdf{background-image:url(../img/wae/icon-pdf.png);background-size:1em}
.wae-section-icon-powerpoint{background-image:url(../img/wae/icon-pdf.png);background-size:1em}
.wae-section-icon-file{background-image:url(../img/wae/icon-file.png);background-size:1em}
.wae-section-icon-other{background-image:url(../img/wae/icon-other.png);background-size:1em}


/* リンクボタン定義 */
.wae-section-button{display:inline-block;margin:0;padding:8px 40px;text-align:center;text-decoration:none;cursor: pointer;}
.wae-section-button-before{display:inline-block;margin:0;padding:8px 40px;background-position:left 15px center;background-repeat:no-repeat;text-align:center;text-decoration:none}
.wae-section-button-after{display:inline-block;margin:0;padding:8px 40px;background-position:right 15px center;background-repeat:no-repeat;text-align:center;text-decoration:none}

.wae-section-button:hover,
.wae-section-button-before:hover,
.wae-section-button-after:hover{}


/* リスト定義 */
.wae-section-block ul{display:inline-block; margin-left: 20px;}
.wae-section-block li{text-align:left; margin-bottom: 10px;}
.wae-section-block li:last-child{margin-bottom: 0;}
.wae-section-list-number{list-style:decimal}

.wae-section-list-note{list-style:none;padding:0 0 0 1.1em}
.wae-section-list-note>li:before{content:'※';display:inline-block;margin:0 0.5em 0 -1.5em}
.wae-section-block ul.wae-section-list-note{margin-left:3px}

ul.wae-section-list-icon{list-style:none;margin-left:-1px;background:none}
ul.wae-section-list-icon>li{padding-left:1.5em; /*background-position:left center; */ background-repeat:no-repeat}
ul.wae-section-icon-image>li{background-size:1em}
ul.wae-section-icon-arrow>li{background-size:1em}
ul.wae-section-icon-window>li{background-image:url(../img/wae/icon-window.svg);background-size:0.9em}


/* 画像定義 */
.wae-section-block figure{}
.wae-section-block figure>img{max-width:100%;width:100%;vertical-align:bottom}
.wae-section-block figure>a{position:relative;overflow:hidden;display:inline-block}
.wae-section-block figure>a>img{width:100%;vertical-align:bottom;transition:all 0.25s ease-out}
.wae-section-block figure>a:hover>img{filter:brightness(125%)}
.wae-section-block figure>a.scale:after{content:'+';position:absolute;bottom:0;right:0;padding:2px 8px;line-height:1;opacity:0.75;cursor:zoom-in}
.wae-section-block figure>a.scale:hover>img{filter:none;cursor:zoom-in}



/* 水平線定義 */
.wae-section-hr-solid{border-width:1px 0 0}
.wae-section-hr-dotted{border-width:1px 0 0}
.wae-section-hr-dashed{border-width:1px 0 0}


/***************************************/
.wae-section>p{margin:0;font-size:1.2rem;line-height:1.6}
.wae-section>ul{margin:0}
.wae-section>ul>li{padding:4px 8px 4px 0;font-size:1.6rem;line-height:1.6}


/* =====================================
  class指定有効クラス
  ======================================*/
/*レイアウトブロック*/
.wae-section .block-width1{ width:19% !important; margin-right:1% !important}
.wae-section .block-width2{ width:39% !important; margin-right:1% !important}
.wae-section .block-width3{ width:59% !important; margin-right:1% !important}
.wae-section .block-width4{ width:79% !important; margin-right:1% !important}

.wae-section .wae-section-column div:last-child.block-width1{ width:20% !important; margin-right:0 !important}
.wae-section .wae-section-column div:last-child.block-width2{ width:40% !important; margin-right:0 !important}
.wae-section .wae-section-column div:last-child.block-width3{ width:60% !important; margin-right:0 !important}
.wae-section .wae-section-column div:last-child.block-width4{ width:80% !important; margin-right:0 !important}

/*横幅*/
.wae-section-block .maxw50 img{width:50px;height:auto;}
.wae-section-block .maxw60 img{width:60px;height:auto;}
.wae-section-block .maxw70 img{width:70px;height:auto;}
.wae-section-block .maxw80 img{width:80px;height:auto;}
.wae-section-block .maxw90 img{width:90px;height:auto;}
.wae-section-block .maxw100 img{width:100px;height:auto;}
.wae-section-block .maxw150 img{width:150px;height:auto;}
.wae-section-block .maxw200 img{width:200px;height:auto;}
.wae-section-block .maxw250 img{width:250px;height:auto;}
.wae-section-block .maxw300 img{width:300px;height:auto;}
.wae-section-block .maxw350 img{width:350px;height:auto;}


/*指定時のブロックレイアウト*/
/*.wae-section .bwidthauto{ width:auto !important;}*/
.wae-section .bwidth10{ width:9% !important; margin-right:1% !important}
.wae-section .bwidth11{ width:10% !important; margin-right:1% !important}
.wae-section .bwidth12{ width:11% !important; margin-right:1% !important}
.wae-section .bwidth13{ width:12% !important; margin-right:1% !important}
.wae-section .bwidth14{ width:13% !important; margin-right:1% !important}
.wae-section .bwidth15{ width:14% !important; margin-right:1% !important}
.wae-section .bwidth16{ width:15% !important; margin-right:1% !important}
.wae-section .bwidth17{ width:16% !important; margin-right:1% !important}
.wae-section .bwidth18{ width:17% !important; margin-right:1% !important}
.wae-section .bwidth19{ width:18% !important; margin-right:1% !important}
.wae-section .bwidth20{ width:19% !important; margin-right:1% !important}
.wae-section .bwidth21{ width:20% !important; margin-right:1% !important}
.wae-section .bwidth22{ width:21% !important; margin-right:1% !important}
.wae-section .bwidth23{ width:22% !important; margin-right:1% !important}
.wae-section .bwidth24{ width:23% !important; margin-right:1% !important}
.wae-section .bwidth25{ width:24% !important; margin-right:1% !important}
.wae-section .bwidth26{ width:25% !important; margin-right:1% !important}
.wae-section .bwidth27{ width:26% !important; margin-right:1% !important}
.wae-section .bwidth28{ width:27% !important; margin-right:1% !important}
.wae-section .bwidth29{ width:28% !important; margin-right:1% !important}
.wae-section .bwidth30{ width:29% !important; margin-right:1% !important}
.wae-section .bwidth31{ width:30% !important; margin-right:1% !important}
.wae-section .bwidth32{ width:31% !important; margin-right:1% !important}
.wae-section .bwidth33{ width:32% !important; margin-right:1% !important}
.wae-section .bwidth34{ width:33% !important; margin-right:1% !important}
.wae-section .bwidth35{ width:34% !important; margin-right:1% !important}
.wae-section .bwidth36{ width:35% !important; margin-right:1% !important}
.wae-section .bwidth37{ width:36% !important; margin-right:1% !important}
.wae-section .bwidth38{ width:37% !important; margin-right:1% !important}
.wae-section .bwidth39{ width:38% !important; margin-right:1% !important}
.wae-section .bwidth40{ width:39% !important; margin-right:1% !important}
.wae-section .bwidth41{ width:40% !important; margin-right:1% !important}
.wae-section .bwidth42{ width:41% !important; margin-right:1% !important}
.wae-section .bwidth43{ width:42% !important; margin-right:1% !important}
.wae-section .bwidth44{ width:43% !important; margin-right:1% !important}
.wae-section .bwidth45{ width:44% !important; margin-right:1% !important}
.wae-section .bwidth46{ width:45% !important; margin-right:1% !important}
.wae-section .bwidth47{ width:46% !important; margin-right:1% !important}
.wae-section .bwidth48{ width:47% !important; margin-right:1% !important}
.wae-section .bwidth49{ width:48% !important; margin-right:1% !important}
.wae-section .bwidth50{ width:49% !important; margin-right:1% !important}
.wae-section .bwidth51{ width:50% !important; margin-right:1% !important}
.wae-section .bwidth52{ width:51% !important; margin-right:1% !important}
.wae-section .bwidth53{ width:52% !important; margin-right:1% !important}
.wae-section .bwidth54{ width:53% !important; margin-right:1% !important}
.wae-section .bwidth55{ width:54% !important; margin-right:1% !important}
.wae-section .bwidth56{ width:55% !important; margin-right:1% !important}
.wae-section .bwidth57{ width:56% !important; margin-right:1% !important}
.wae-section .bwidth58{ width:57% !important; margin-right:1% !important}
.wae-section .bwidth59{ width:58% !important; margin-right:1% !important}
.wae-section .bwidth60{ width:59% !important; margin-right:1% !important}
.wae-section .bwidth61{ width:60% !important; margin-right:1% !important}
.wae-section .bwidth62{ width:61% !important; margin-right:1% !important}
.wae-section .bwidth63{ width:62% !important; margin-right:1% !important}
.wae-section .bwidth64{ width:63% !important; margin-right:1% !important}
.wae-section .bwidth65{ width:64% !important; margin-right:1% !important}
.wae-section .bwidth66{ width:65% !important; margin-right:1% !important}
.wae-section .bwidth67{ width:66% !important; margin-right:1% !important}
.wae-section .bwidth68{ width:67% !important; margin-right:1% !important}
.wae-section .bwidth69{ width:68% !important; margin-right:1% !important}
.wae-section .bwidth70{ width:69% !important; margin-right:1% !important}
.wae-section .bwidth71{ width:70% !important; margin-right:1% !important}
.wae-section .bwidth72{ width:71% !important; margin-right:1% !important}
.wae-section .bwidth73{ width:72% !important; margin-right:1% !important}
.wae-section .bwidth74{ width:73% !important; margin-right:1% !important}
.wae-section .bwidth75{ width:74% !important; margin-right:1% !important}
.wae-section .bwidth76{ width:75% !important; margin-right:1% !important}
.wae-section .bwidth77{ width:76% !important; margin-right:1% !important}
.wae-section .bwidth78{ width:77% !important; margin-right:1% !important}
.wae-section .bwidth79{ width:78% !important; margin-right:1% !important}
.wae-section .bwidth80{ width:79% !important; margin-right:1% !important}
.wae-section .bwidth81{ width:80% !important; margin-right:1% !important}
.wae-section .bwidth82{ width:81% !important; margin-right:1% !important}
.wae-section .bwidth83{ width:82% !important; margin-right:1% !important}
.wae-section .bwidth84{ width:83% !important; margin-right:1% !important}
.wae-section .bwidth85{ width:84% !important; margin-right:1% !important}
.wae-section .bwidth86{ width:85% !important; margin-right:1% !important}
.wae-section .bwidth87{ width:86% !important; margin-right:1% !important}
.wae-section .bwidth88{ width:87% !important; margin-right:1% !important}
.wae-section .bwidth89{ width:88% !important; margin-right:1% !important}
.wae-section .bwidth90{ width:89% !important; margin-right:1% !important}




/* =====================================
  lightbox
  ======================================*/

/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 1.2rem;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}